
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Inter:wght@200;300;400;500;600;700;800;900&family=JetBrains+Mono:ital,wght@0,400;0,500;0,600;0,700;0,800;1,200;1,400&family=Lemon&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Poppins:wght@300&display=swap');


.events{

    width: 100%;
    height:fit-content;

    position: relative;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: flex-start; /*fixes the cards to th top of the line*/

    gap: 20px;  
    
}

.events ,.aboutus{
        width: 100%;
        min-height: 100vh;
        position: relative;
        transform-style: preserve-3d;
      }


.events .textbox{
    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10vh 0;

    gap: 10vh;
}

.events .textbox h1{

    font-size: 10vw;
    font-weight: 700;
    color: rgb(255, 187, 0);
    text-shadow: rgb(255, 255, 255) 0px 0px 1px ;
    text-transform: uppercase;

    line-height: 10vw;
    margin: 0;
    padding: 0;
}

.events .textbox p{
    width: 90%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vw;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-shadow: rgb(255, 255, 255) 0px 0px 1px ;


    margin: 0;
    padding: 0;

}

.event{
    
    width: min-content;
    background-color: rgb(255, 185, 80);

    background: rgb(255, 152, 50);
    background: radial-gradient(circle, rgba(255, 128, 0, 0.6) 36%, rgba(98, 51, 3, 0.6) 100%);
    display: block;

    border: 20%;
    border-radius: 10px;

    margin: 6vh 2vh;
    border: 1px solid rgb(255, 187, 0);
    box-shadow: rgb(255, 187, 0) 0px 0px 1px ;

}

.events h2,.events h1, .events p, .events span{
    font-family:'Lemon', serif;
    text-decoration: none;
    color: #fff;
    
    padding: 0% 5%;
}

.events h1{
    text-shadow: rgb(2, 1, 0) 0px 0px 1px ;
}

.events p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.event h2{
    font-size: 1rem;
    font-weight: 700;
    color: rgb(88, 66, 7);
    text-shadow: rgb(255, 255, 255) 0px 0px 2px ;
}

.event img{
    
    max-height: 80vh;
    width: auto;
    
    object-fit: cover;

    transform: translate(-20px, -20px);
    border-radius: 10px;

    box-shadow: 0 2px 14px rgba(0, 0, 0, 2);

    border: rgb(255, 255, 255) 5px solid;
}

.event:hover{
    scale: 1.1;
    transition: 0.5s ease-out;;
}

.event-readmore-btn{
    width: fit-content;

    font-family:'Lemon', serif;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 10px;
    padding: 10px;

    border-radius: 10px;
    border: none;

    color: rgb(0, 0, 0);
    text-shadow: rgb(255, 255, 255) 1px 1px 1px;
    text-decoration: none;

    font-size: 1rem;
    font-weight: 400;

    

    background-color:  rgb(212, 159, 12);
    border: rgb(255, 187, 0) 2px solid;

    cursor: pointer;
    transform: translate(0%, 10%);
}

.event-readmore-btn:hover{
    border: 1px solid rgb(118, 108, 64);
    background-color: rgb(255, 187, 0);
    scale: 1.1;
    transition: 0.2s ease-in-out;  
   
}

.events .linkbox{
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10vh 0;
    background-color:black;

    text-decoration: none;
    bottom: 0;

}

.events .linkbox h1{

    font-family: 'Courier New', Courier, monospace;
    font-size: 5vw;
    font-weight: 700;
    color: rgb(255, 187, 0);
    text-shadow: rgb(255, 255, 255) 0px 0px 1px ;
    text-transform: uppercase;

    line-height: 5vw;
    margin: 0;
    padding: 0;

}


@media screen and (max-width: 768px){
    .event{
        width: 70%;
        padding: 0;
        margin: 5vh;
        height: min-content;
    }
}