*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 2px;
  transform-style: preserve-3d;

  background-color: rgb(57, 34, 0);
}