.background-image{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background-image > .textbox{
  position: absolute;
  height: fit-content;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  color: white;

  text-align: center;
}

.background-image > .textbox > h1{
  width: fit-content;
  height: auto;

  color: black;
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40vw;
  font-weight: 700;
  letter-spacing: -2vw;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-right: 2vw;
  line-height: 25vw;

  background-color: #fff;

  mix-blend-mode: lighten;

  background-image: url(./assets/background/dancing-people-doodles-set-vector-4299137.jpg);
  background-size: 100%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  
}


.background-image > .textbox > h2{
  text-align: center;
  font-size: 4.5vw;
  font-weight: 700;
  letter-spacing: -0.5vw;
  word-spacing: 1vw;
  text-transform: uppercase;
  text-align: center;

  margin: 0;
  padding: 0;
  line-height: 10vw;

  text-shadow: rgb(38, 32, 10) 0px 0px 4px ;
}






